.Select {
  border: none;
  outline: none;
  height: 40px;
  padding: 0.5rem;
  background-color: #eee;
}

.Checkbox {
  border: none;
  outline: none;
}

.Radio {
  border: none;
  outline: none;
}

.Text {
  border: none;
}